/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
  background-color: #fff;
  padding: 15px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#search_container #blog_search .doc_search_wrapper {
background: #fdfdfd;
height: 65px;
position: relative;
}

form input[type="text"], form input[type="password"], form input[type="email"], form textarea {
border: 2px solid #e5eae4;
font-size: 24px;
color: #74b73f;
width: 90%;
outline: none;
padding: 15px 10px;
}

#search_container .doc_search_wrapper .search_term {
background: transparent;
color: #2e2e2e;
border: none;
float: left;
width: 100%;
height: 100%;
text-indent: 1em;
}
#search_container #blog_search .blog_search_wrapper .search_submit {
display: inline-block;
float: right;
background-position: 0 -701px;
width: 33px;
height: 33px;
margin: 1em;
border: none;
}